<div class="container__small-card">
    <div class="conteiner__small-card-content">
        <div class="small-card__photo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqDIO8GupnNsopylu7LVl5mocsWOIeYmi8sw&usqp=CAU" alt="" srcset="" height="200px">
        </div>
        <div  class="small-card__title">
            <h1><a href="ddd">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>
    <div class="conteiner__small-card__separator">
        <hr/>
    </div>
</div>

