<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card Id="1" photoCover="https://thejs.dev/static/4603bf8d46c45eda4c776f516318b6b7/dd13c/hero.jpg" cardTitle="REACT" cardDescription="React é uma biblioteca de componentes, o que significa que as aplicações React são construídas usando componentes. Os componentes são blocos de construção reutilizáveis ​​que podem ser combinados para criar interfaces de usuário complexas.

       "></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card Id="2" photCover="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png" cardTitle="JavaScript: O que é e como funciona?"></app-small-card>
        <app-small-card Id="3"  photCover="https://icons.iconarchive.com/icons/graphics-vibe/developer/256/css-3-icon.png" cardTitle="CSS: O que é e como funciona?"></app-small-card>
        <app-small-card Id="4" photCover="https://cdn-icons-png.flaticon.com/128/3291/3291670.png" cardTitle="HTML: O que é e como funciona?"></app-small-card>
    </div>

</div>

